
	<div id="about">
	<nav id="navigation">
		<a href="#home" class="scroll" ><img class="logo" alt='logo' src='images/logo1.png'></a>
                    <ul   id="menu">
                        <li>
                            <a href="#home" class="scroll">Home</a>
                        </li>
                        <li class="current">
                            <a href="#about" class="scroll">About Us</a>
                        </li>
                        <li>
                            <a href="#services" class="scroll">Products</a>
                        </li>
                        <li>
                            <a href="#separator2" class="scroll">Support</a>
                        </li>
                    </ul>
	</nav>	
		<div class="container">
			<div class="sixteen columns">
				<h1> <span class="slide-text"></span></h1>
			</div>
		</div>	
		<div class="about-info">
		<div class="container">
			<div class="eight columns">
				<h6>WHO ARE WE?</h6>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur est quis mauris accumsan eleifend sit amet non neq. Vivamus vitae purus eros, nec ullamcorper risus.</p>
			</div>
			<div class="eight columns">
				<h6>HOW DO WE DO IT?</h6>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur est quis mauris accumsan eleifend sit amet non neq. Vivamus vitae purus eros, nec ullamcorper risus.</p>
			</div>
		</div>	
		</div>
		<div class="facts">
		<div class="container">
			<div class="sixteen columns">
				<h6>OUR SKILLS</h6>
				<div id="container-bar">
  
					<p>HTML5</p>
					<div id="bar-1" class="bar-main-container color1">
						<div class="wrap">
						<div class="bar-percentage" data-percentage="92"></div>
						<div class="bar-container">
						<div class="bar"></div>
						</div>
						</div>
					</div>
					
					<p>CSS3</p>
					<div id="bar-2" class="bar-main-container color2">
						<div class="wrap">
						<div class="bar-percentage" data-percentage="84"></div>
						<div class="bar-container">
						<div class="bar"></div>
						</div>
						</div>
					</div>
					
					<p>JQUERY</p>
					<div id="bar-3" class="bar-main-container color3">
						<div class="wrap">
						<div class="bar-percentage" data-percentage="75"></div>
						<div class="bar-container">
						<div class="bar"></div>
						</div>
						</div>
					</div>
  
					<p>PHP</p>
					<div id="bar-4" class="bar-main-container color4">
						<div class="wrap">
						<div class="bar-percentage" data-percentage="79"></div>
						<div class="bar-container">
						<div class="bar"></div>
						</div>
						</div>
					</div>
  
				</div>
			</div>
		</div>	
		</div>	
		<div class="container">
			<div class="sixteen columns">
				<h2>Who's Behind Creatrix</h2>
			</div>
			<div class="sixteen columns">
				<div class="team">
					<div class="big-dot"></div>
					<div class="team-wrap">
						<div class="job-name-text"><div class="text-position"><h6>Founder</h6></div></div>
						<div class="team-img">
							<div class="arrow-right"></div>
							<div class="job-name"></div>
							<img src="images/testi1.jpg" alt=""/>
							<div class="team-img-gif"><img src="images/1.gif" alt=""/></div>
						</div>
						<div class="team-info">
							<div class="team-info-box">
								<h6>Melissa Doe</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur est quis mauris accumsan eleifend sit amet non neq. Vivamus vitae purus eros, nec ullamcorper risus. Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
								<div class="social-top1">
									<ul class="list-social1">
										<li class="icon-soc1"><a href="#">&#xf099;</a></li>
										<li class="icon-soc1"><a href="#">&#xf09a;</a></li>
										<li class="icon-soc1"><a href="#">&#xf09b;</a></li>
										<li class="icon-soc1"><a href="#">&#xf0d5;</a></li>
										<li class="icon-soc1"><a href="#">&#xf0e1;</a></li>
										<li class="icon-soc1"><a href="#">&#xf0d2;</a></li>
									</ul>	
								</div>
							</div>
						</div>
					</div>
					<div class="team-wrap">
						<div class="job-name-text"><div class="text-position"><h6>Manager</h6></div></div>
						<div class="team-img">
							<div class="arrow-right"></div>
							<div class="job-name"></div>
							<img src="images/testi3.jpg" alt=""/>
							<div class="team-img-gif"><img src="images/1.gif" alt=""/></div>
						</div>
						<div class="team-info">
							<div class="team-info-box">
								<h6>Caroline Smith</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur est quis mauris accumsan eleifend sit amet non neq. Vivamus vitae purus eros, nec ullamcorper risus. Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
								<div class="social-top1">
									<ul class="list-social1">
										<li class="icon-soc1"><a href="#">&#xf099;</a></li>
										<li class="icon-soc1"><a href="#">&#xf09a;</a></li>
										<li class="icon-soc1"><a href="#">&#xf09b;</a></li>
										<li class="icon-soc1"><a href="#">&#xf0d5;</a></li>
										<li class="icon-soc1"><a href="#">&#xf0e1;</a></li>
										<li class="icon-soc1"><a href="#">&#xf0d2;</a></li>
									</ul>	
								</div>							
							</div>
						</div>
					</div>
					<div class="team-wrap">
						<div class="job-name-text"><div class="text-position"><h6>Design</h6></div></div>
						<div class="team-img">
							<div class="arrow-right"></div>
							<div class="job-name"></div>
							<img src="images/testi4.jpg" alt=""/>
							<div class="team-img-gif"><img src="images/2.gif" alt=""/></div>
						</div>
						<div class="team-info">
							<div class="team-info-box">
								<h6>Robert Doe</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur est quis mauris accumsan eleifend sit amet non neq. Vivamus vitae purus eros, nec ullamcorper risus. Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
								<div class="social-top1">
									<ul class="list-social1">
										<li class="icon-soc1"><a href="#">&#xf099;</a></li>
										<li class="icon-soc1"><a href="#">&#xf09a;</a></li>
										<li class="icon-soc1"><a href="#">&#xf09b;</a></li>
										<li class="icon-soc1"><a href="#">&#xf0d5;</a></li>
										<li class="icon-soc1"><a href="#">&#xf0e1;</a></li>
										<li class="icon-soc1"><a href="#">&#xf0d2;</a></li>
									</ul>	
								</div>							
							</div>
						</div>
					</div>
					<div class="big-dot-down"></div>
				</div>
			</div>
			<div class="sixteen columns">
				<div class="dev-team">
					<div class="arrow-up"></div>
					<h6>Development Team <span>- Small Group Of Good Guys</span></h6>
				</div>
			</div>
		</div>	
	</div>	
	
	
	<div id="separator">
		<a class="button-play iframe" href="video.html">&#xf04b;</a> 
		<h3><strong>Custom</strong> HTML5 Video</h3>
		<span class="film-reel"></span>
	</div>	
	
	
	
	
	
	<div id='works'>
		<div class="container">
			<div class="sixteen columns">
				<h1>We design, <span class="slide-text1"></span></h1>
			</div>
		</div>
		<div class="container">
			<div class="sixteen columns text-works">
				<p>Nullam consectetur est quis mauris accumsan eleifend sit amet non neq. Vivamus vitae purus eros, nec ullamcorper risus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur est quis mauris accumsan eleifend sit amet non neq. Vivamus vitae purus eros, nec ullamcorper risus.</p>
			</div>
		</div>	
		<div class="fil">	
			<div class="container">
				<div class="sixteen columns">
					<div id="portfolio-filter">
						<ul id="filter">
							<li><a href="#" class="current color5" data-filter="*" title="Show all items">Show all</a></li>
							<li><a href="#" class="color1" data-filter=".photography" title="Show all items under Photography">photography</a></li>
							<li><a href="#" class="color2" data-filter=".illustration" title="Show all items under Illustration">illustration</a></li>
							<li><a href="#" class="color3" data-filter=".motion-graphics" title="Show all items under Motion Graphics">motion graphics</a></li>
							<li><a href="#" class="color4" data-filter=".web-design" title="Show all items under Web Design">web design</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>	
		<div class="portfolio-isotope">
		<div id="container1" class="clearfix">
			<div class="box photography web-design">
				<a class='iframe group1'  href="project.html" title="">
					<img src="images/portfolio/1.jpg" alt="" />
					<div class="mask"></div>
					<h4>Project Title</h4>
					<p>Some Text Here</p>
				</a>
			</div>
			<div class="box motion-graphics">
				<a class='iframe group1'  href="project.html" title="">
					<img src="images/portfolio/2.jpg" alt="" />	
					<div class="mask"></div>
					<h4>Project Title</h4>
					<p>Some Text Here</p>
				</a>
			</div>
			<div class="box photography motion-graphics">
				<a class='iframe group1'  href="project.html" title="">
					<img src="images/portfolio/3.jpg" alt="" />
					<div class="mask"></div>
					<h4>Project Title</h4>
					<p>Some Text Here</p>
				</a>
			</div>
			<div class="box photography">
				<a class='iframe group1'  href="project.html" title="">
					<img src="images/portfolio/4.jpg" alt="" />
					<div class="mask"></div>
					<h4>Project Title</h4>
					<p>Some Text Here</p>
				</a>
			</div>
			<div class="box illustration web-design">
				<a class='iframe group1'  href="project.html" title="">
					<img src="images/portfolio/5.jpg" alt="" />	
					<div class="mask"></div>
					<h4>Project Title</h4>
					<p>Some Text Here</p>
				</a>
			</div>
			<div class="box photography">
				<a class='iframe group1'  href="project.html" title="">
					<img src="images/portfolio/6.jpg" alt="" />
					<div class="mask"></div>
					<h4>Project Title</h4>
					<p>Some Text Here</p>
				</a>
			</div>
			<div class="box motion-graphics">
				<a class='iframe group1'  href="project.html" title="">
					<img src="images/portfolio/7.jpg" alt="" />	
					<div class="mask"></div>
					<h4>Project Title</h4>
					<p>Some Text Here</p>
				</a>
			</div>
			<div class="box illustration">
				<a class='iframe group1'  href="project.html" title="">
					<img src="images/portfolio/8.jpg" alt="" />
					<div class="mask"></div>
					<h4>Project Title</h4>
					<p>Some Text Here</p>
				</a>
			</div>
			<div class="box web-design">
				<a class='iframe group1'  href="project.html" title="">
					<img src="images/portfolio/9.jpg" alt="" />	
					<div class="mask"></div>
					<h4>Project Title</h4>
					<p>Some Text Here</p>
				</a>
			</div>
			<div class="box photography motion-graphics">
				<a class='iframe group1'  href="project.html" title="">
					<img src="images/portfolio/10.jpg" alt="" />
					<div class="mask"></div>
					<h4>Project Title</h4>
					<p>Some Text Here</p>	
				</a>
			</div>
			<div class="box illustration web-design">
				<a class='iframe group1'  href="project.html" title="">
					<img src="images/portfolio/11.jpg" alt="" />
					<div class="mask"></div>
					<h4>Project Title</h4>
					<p>Some Text Here</p>
				</a>
			</div>
			<div class="box motion-graphics">
				<a class='iframe group1'  href="project.html" title="">
					<img src="images/portfolio/12.jpg" alt="" />	
					<div class="mask"></div>
					<h4>Project Title</h4>
					<p>Some Text Here</p>
				</a>
			</div>
		</div>	
		</div>
	</div>

	

	
		
	
	
	
	<div id='services'>
		<div class="container">
			<div class="sixteen columns">
				<h1>What We Do: <span class="slide-text2"></span></h1>
			</div>
		</div>
		<div class="container">
			<div class="eight columns">
				<p>Nullam consectetur est quis mauris accumsan eleifend sit amet non neq. Vivamus vitae purus eros, nec ullamcorper risus. Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
			</div>
			<div class="eight columns">
				<p>Lid est laborum dolo rumes fugats untras. Nullam consectetur est quis mauris accumsan eleifend sit amet non neq. Vivamus vitae purus eros, nec ullamcorper risus. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
			</div>
		</div>
		<div class="services-offer color1">
			<div class="container">
				<div class="sixteen columns">	
					<h5>Website Design and Development</h5>
				</div>
			</div>			
		</div>	
		<div class="container">
			<div class="four columns">
				<div class="services-icon-wrap1">
					<div class="mask-services"></div>
					<div class="services-icon-design"></div>
				</div>
			</div>
			<div class="eight columns">
				<p>Lid est laborum dolo rumes fugats untras. Nullam consectetur est quis mauris accumsan eleifend sit amet non neq. Vivamus vitae purus eros, nec ullamcorper risus. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Vivamus vitae purus eros, nec ullamcorper risus.</p>
			</div>
			<div class="four columns services-list">
				<ul class="list-services">
					<li class="check1"><p>Brand Design</p></li>
					<li class="check1"><p>Visual Identity</p></li>
					<li class="check1"><p>Product Design</p></li>
					<li class="check1"><p>Illustrations</p></li>
					<li class="check1"><p>Brand Action</p></li>
				</ul>
			</div>
		</div>
		<div class="services-offer color2">
			<div class="container">
				<div class="sixteen columns">	
					<h5>Digital Marketing and Search Engine Optimization</h5>
				</div>
			</div>			
		</div>	
		<div class="container">
			<div class="four columns">
				<div class="services-icon-wrap2">
					<div class="services-icon-digital"></div>
				</div>
			</div>
			<div class="eight columns">
				<p>Nullam consectetur est quis mauris accumsan eleifend sit amet non neq. Vivamus vitae purus eros, nec ullamcorper risus. Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Vivamus vitae purus eros, nec ullamcorper risus.</p>
			</div>
			<div class="four columns services-list">
				<ul class="list-services">
					<li class="check2"><p>Interactive Experience</p></li>
					<li class="check2"><p>User Interface</p></li>
					<li class="check2"><p>Search Engine Marketing</p></li>
					<li class="check2"><p>Social Media</p></li>
					<li class="check2"><p>Digital Installations</p></li>
				</ul>
			</div>
		</div>
		<div class="services-offer color3">
			<div class="container">
				<div class="sixteen columns">	
					<h5>Branding Strategy and Corporate Identity</h5>
				</div>
			</div>			
		</div>	
		<div class="container">
			<div class="four columns">
				<div class="services-icon-wrap3">
					<div class="services-icon-strat"></div>
				</div>
			</div>
			<div class="eight columns">
				<p>Lid est laborum dolo rumes fugats untras. Nullam consectetur est quis mauris accumsan eleifend sit amet non neq. Vivamus vitae purus eros, nec ullamcorper risus. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Vivamus vitae purus eros, nec ullamcorper risus.</p>
			</div>
			<div class="four columns services-list">
				<ul class="list-services">
					<li class="check3"><p>Advertising</p></li>
					<li class="check3"><p>Digital Advertising</p></li>
					<li class="check3"><p>Photography</p></li>
					<li class="check3"><p>Film Productions</p></li>
					<li class="check3"><p>Outdoor</p></li>
				</ul>
			</div>
		</div>
		<div class="to-start color4">
			<div class="container">
				<div class="sixteen columns">	
					<h5>ARE YOU READY TO START A CONVERSATION?</h5>
				</div>
				<div class="sixteen columns">
					<div class="butt-con">
						<a href="#contact" class="scroll color1">GET IN TOUCH</a>
					</div>	
				</div>
			</div>			
		</div>				
	</div>
	
	
	
	
	
	
	
	<div id="separator2">
		<div class="separator2-wrap">
			<div class="container">
				<div class="sixteen columns">
					<h3><strong>Let's work together</strong> and create something awesome!</h3>
				</div>
			</div>
			<span class="plane"></span>	
		</div>
	</div>		
	




	<div id="contact">	
		<div class="contact-info">
			<div class="container">
				<div class="one-third column">
					<h6>Address:</h6>
					<p>Brace Spasojevic 27, 37240, Trstenik,
Serbia</p>
				</div>
				<div class="one-third column">
					<h6>Phone:</h6>
					<p>Support: +381 (100) 1234 (09am - 05pm)</p>
					<p>Director: +381 (100) 1243 (08am - 06pm)</p>
				</div>
				<div class="one-third column">
					<h6>Email:</h6>
					<p>Support: <a href="mailto:support@example.com" title="mailto:support@example.com">support@example.com</a></p>
					<p>Director: <a href="mailto:chief@example.com" title="mailto:chief@example.com">chief@example.com</a></p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="sixteen columns">
				<form name="ajax-form" id="ajax-form" action="http://ivang-design.com/creatrix/parallax/mail-it.php" method="post">
				<h6>Say Hello</h6>
					<label for="name">Name: * 
						<span class="error" id="err-name">please enter name</span>
					</label>
					<input name="name" id="name" type="text" />
					<label for="email">E-Mail: * 
						<span class="error" id="err-email">please enter e-mail</span>
						<span class="error" id="err-emailvld">e-mail is not a valid format</span>
					</label>
					<input name="email" id="email" type="text" />
					<label for="message">Message:</label>
					<textarea name="message" id="message"></textarea>
					<button class="send_message" id="send">Submit</button>
					<div class="error" id="err-form">There was a problem validating the form please check!</div>
					<div class="error" id="err-timedout">The connection to the server timed out!</div>
					<div class="error" id="err-state"></div>
				</form>
				<div id="ajaxsuccess">Successfully sent!!</div>	
			</div>	
		</div>		
	</div>	


	
		<!-- Copy
	================================================== -->	 
	
	<div id="copy">
		<div class="container">
			<div class="sixteen columns">
				<p>© 2013 Creatrix. All rights reserved. Theme by IG DESIGN.</p>
			</div>
			<div class="sixteen columns">
				<div class="social-footer">
					<ul class="list-social-footer">
						<li class="icon-soc-footer"><a href="#">&#xf099;</a></li>
						<li class="icon-soc-footer"><a href="#">&#xf09a;</a></li>
						<li class="icon-soc-footer"><a href="#">&#xf09b;</a></li>
						<li class="icon-soc-footer"><a href="#">&#xf0d5;</a></li>
						<li class="icon-soc-footer"><a href="#">&#xf0e1;</a></li>
						<li class="icon-soc-footer"><a href="#">&#xf0d2;</a></li>
					</ul>	
				</div>
			</div>	
		</div>	
	</div>	


